<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div id="top">
  <li>
    <a href="#"><button>Home</button></a>
    <a href="/threads"><button>Back</button></a>
  </li>
</div>

<h1><i class="fa fa-pencil fa-5x"></i></h1>

<form action="/threads/<%= thread._id %>?_method=PATCH"
      method="post">
         <textarea type="text"
            name="thread[content]"><%= thread.content %>
         </textarea>
         <br/>
  <input type="submit">
</form>
