<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div id="top">
  <li>
    <a href="#" class="box1">Home</a>
    <a href="/threads" class="box2">Message Board</a>
  </li>
</div>

<h1><i class="fa fa-comments-o fa-5x"></i></h1>

<form action="/threads" method="post">
  <input class="topic" type="topic"
          size="25"
        name="thread[topic]"
        placeholder="Topic">
<br><br>

  <textarea type="text"
          name="thread[content]"
          placeholder= "Enter text here...">
  </textarea>
  <br>
  <input type="submit">
</form>
