<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div id="top">
  <li>
    <a href="#" class="box1">Home</a>
    <a href="/threads" class="box2">Back</a>
  </li>
</div>

<h1><i class="fa fa-retweet fa-5x"></i></h1>

<div class="catalogy">

<h4><%= thread.content %></h4>

</div>
<form     action="/threads/<%= thread._id %>?_method=PATCH"
          method="post">
    <textarea class="newcomment"
              type="text"
              name="thread[content]"
              placeholder= "Enter text here...">
    </textarea>
    <br>
    <input type="submit">
  </form>
