<!-- bootstrap -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<button type="button" class="btn btn-default navbar-btn">Sign Up</button>

<button type="button" class="btn btn-default navbar-btn">Log In</button>

<h1>Log In</h1>

    <form action="/users/login" method="post">
      <input type="screenname"
              name="user[username]"
              placeholder="username">
      <input type="password"
              name="user[password]"
              placeholder="password">
      <input type="submit" value="Log in">
    </form>

  </body>
</html>
