<!-- bootstrap -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<button type="button" class="btn btn-default navbar-btn">Sign Up</button>

<button type="button" class="btn btn-default navbar-btn">Log In</button>


    <h1>Forum Signup</h1>

    <form action="/users" method="post">

      <label for="Name">Name</label>
      <input type="screename"
              name="user[username]"
              placeholder="username"><br/>
      <input type="password"
              name="user[password]"
              placeholder="password">
      <input type="submit" value="Sign up!">
    </form>



  </body>
</html>
