<div id="top">
  <li>
    <a href="#"><button>Hi!</button></a>
    <a href="/users/new"><button>Sign Up</button></a>
  </li>
</div>


<h1>Log In</h1>

  <form action="/users/login" method="post">
      <input type="screenname"
              name="user[username]"
              placeholder="username">
      <input type="password"
              name="user[password]"
              placeholder="Password">
      <input type="submit" value="Log in">
  </form>
