<div id="top">
  <li>
    <a href="#" class="box1">Hi!</a>
    <a href="/users/new" class="box2">Sign Up</a>
  </li>
</div>



<h1>Log In</h1>

  <form action="/users/login" method="post">
      <input type="screenname"
              name="user[username]"
              placeholder="username">
      <input type="password"
              name="user[password]"
              placeholder="Password">
      <input type="submit" value="Log in">
  </form>
