<div id="top">
  <li>
    <a href="#"><button>Hi!</button></a>
    <a href="/users/login"><button>Log In</button></a>
  </li>
</div>

<h1>Sign Up</h1>

<form action="/users"
      method="post">
  <input type="screename"
         name="user[username]"
         placeholder="username">
  <input type="password"
         name="user[password]"
         placeholder="password">
  <input type="submit"
         value="Sign up!">
</form>
